main{
    width:95%;
    height:100%;
    margin:0 auto;
}
a{
    text-decoration:none;
    color: rgb(180, 180, 180);
}
a:hover{
    color: rgb(182, 228, 255);
}
.mainTitle{
    padding-top: 170px;
    margin-bottom: 30px;
    width:100%;
    color:rgb(154, 218, 255);
    font-size: 60px;
    text-align: center;
    height:300px;
    background-image: url("https://s2.ax1x.com/2019/12/13/Qc08mT.jpg") ;
    background-size: cover;
    
    font-family: "Times New Roman",Times,serif;
}
.pageList{
    text-align: center;
    padding-bottom: 30px;
    color:rgb(182, 228, 255);
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.pageList a{
    display:block;
}
#fixedLayer{
    position:fixed; 
    width:100%;
    height: 10px;
    background-image:linear-gradient(to bottom,rgb(0, 0, 0),rgb(65, 65, 65));

}
#fixedHeader{
display : block ;
}
#fixedHeader ul{
    
    position:fixed; 
    padding:0;
    margin: 0;
    width:100%;
    height: 40px;
    color:rgb(108, 141, 160);
    background-image:linear-gradient(to right,rgb(0, 0, 0),rgb(65, 65, 65));

}

.headMenu li{
    list-style:none; /* 将默认的列表符号去掉 */
    padding-left:20px; 
    padding-top:7px; 
    font-size: 20px;
    /*padding-top:20px;  */
    margin:0; /* 将默认的外边距去掉 */
    float:left;
    text-align: center;

}